# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Python__pycache__/
*.pyc
backend/__pycache__/
backend/venv/
backend/extractors/__pycache__/
backend/extractors/*.pyc

backend/*.pyc

# dot env
.env
.env.local